<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>LLISTAT DE TREBALLADORS</title>
</head>
<body>
	<H1>LLISTAT DE TREBALLADORS</H1>
	<table border=1>
		<thead>
			<tr>
				<th>Id
				<th>Nom
				<th>Treball
				<th>Sou
				<th>Borrar
				<th>Modificar
			</tr>
		</thead>
		<tbody>
			<tr th:each="treballador : ${treballadors}">
				<td><span th:text="${treballador.id}"></span></td>
				<td><span th:text="${treballador.nom}"></span></td>
				<td><span th:text="${treballador.treball}"></span></td>
				<td><span th:text="${treballador.sou}"></span></td>
				<td><a th:href="@{/borrar/}+${treballador.id}">Borrar</a></td>
				<td><a th:href="@{/modificar/}+${treballador.id}">Modificar</a></td> -->
			</tr>
		</tbody>
	</table>
	<form th:action="${action}" method="post">
	<br> 
	<br> ID: <input type=text name=id th:value="${treballador?.id}"> <BR>
		NOM: <input type=text name=nom th:value="${treballador?.nom}"> <BR>
		TREBALL: <input type=text name=treball th:value="${treballador?.treball}"><BR>
		<input type=submit name=submit th:value="${boton}">
	</form>
</body>
</html>