<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>LISTADO DE LIBROS</title>
</head>
<body>
	<h3>
		Usuario: <span th:text="${usuario.nombre}"></span>
	</h3>
	<h3>
		Password: <span th:text="${usuario.password}"></span>
	</h3>
	<H1>LISTADO DE LIBROS</H1>
	<table border=1>
		<thead>
			<tr>
				<th>Id
				<th>Titulo
				<th>Autor
				<th>Editorial
				<th>Fecha
				<th>Tematica
				<th>Borrar
				<th>Modificar
			</tr>
		</thead>
		<tbody>
			<tr th:each="libro : ${libros}">
				<td><span th:text="${libro.id}"></span></td>
				<td><span th:text="${libro.titulo}"></span></td>
				<td><span th:text="${libro.autor}"></span></td>
				<td><span th:text="${libro.editorial}"></span></td>
				<td><span th:text="${libro.fecha}"></span></td>
				<td><span th:text="${libro.tematica}"></span></td>
				<td><a th:href="@{/borrar/}+${libro.id}">Borrar</a></td>
				<td><a th:href="@{/modificar/}+${libro.id}">Modificar</a></td>
			</tr>
		</tbody>
	</table>
	<form th:action="${action}" method="post">
		<br> ID: <input type=text name=id th:value="${libro?.id}"> <BR>
		TITULO: <input type=text name=titulo th:value="${libro?.titulo}"> <BR>
		AUTOR: <input type=text name=autor th:value="${libro?.autor}"> <BR>
		EDITORIAL: <input type=text name=editorial th:value="${libro?.editorial}"> <BR>
		FECHA: <input type=text name=fecha th:value="${libro?.fecha}"> <BR>
		TEMATICA: <input type=text name=tematica  th:value="${libro?.tematica}"> <BR>
		<input type=submit name=submit th:value="${boton}">
	</form>
</body>
</html>